doctype html
html
  body
    form(action='http://localhost:3000/search', method='post')
    div
      input#name(type='text', placeholder='enter name')
    div
      input#location(type='text', placeholder='enter location')
    div
      input#king(type='text', placeholder='enter king')
    div
      input#type(type='text', placeholder='enter battle type')
    div
      input(type='submit', value='submit')
